{% extends "loggedin.html" %}
{% block content %}
<div class="text-right">
    {{ pagination.info }}
</div>

<div class="panel panel-default">
  <table class="table table-hover">
      {% for mail in mails %}
      <tr class="clickable-row {% if not mail.viewed %} bg-info {% endif %}" data-href="{{url_for('mail', id=mail.id)}}">
          <td>{{mail.sender.username}}</td>
          <td>{{mail.title}}</td>
          <td>{{mail.text[:35] + ('...' if (mail.text.__len__() > 35) else ' ')}}</td>
          <td class="text-right">{{mail.timestamp.strftime('%d. %b %y %I:%M %p')}}</td>
      </tr>
      {% endfor %}
  </table>
</div>

<div class="text-center">
    {{ pagination.links }}
</div>
{% endblock %}